.box{
  text-align: center;
  margin: 1em;
  border: 10px solid black;
  width: 500px;
  font-size: 20pt;
}

.item-img{
  width: 400px;
}

.main{
  display: flex;
  justify-content: center;
}

.button{
  border:solid 2px black;
}

.win {  border: 10px solid green;  color: green; }
.lose {  border: 10px solid red;  color: red; }
.tie {  border: 10px solid black;  color: black; }